.footer {
    background-color: rgba(0, 0, 0, 0.144);
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 16px;
  }
  
  